* {
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  background-color: antiquewhite;
  justify-content: space-around;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: tomato;
}